@model IEnumerable<SCT.Models.Solicitud>

<p>
    @Html.ActionLink("Solicitar", "CrearSolicitudFrontal")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imeiSustituido)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.datosCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedulaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaPago.nombreFormaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.nombreModelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTramite.nombreTipoTramite)
        </th>
        <th>Acción</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imeiSustituido)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreUsuario)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.datosCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedulaCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPago.nombreFormaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo.nombreModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTramite.nombreTipoTramite)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarSolicitudFrontal", new { id=item.idOrden })            
        </td>
    </tr>
}

</table>
