@model IEnumerable<SCT.Models.Bitacora>

@{
    ViewBag.Title = "Index";
}

<h2>Registro Bitácora</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
    </tr>
}

</table>
